<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h1>Django 사용자 입력받기</h1>
    <h2>HTML Form 이용하기</h2>
    <hr>
    <table class="talbe-contents">
        <tr>
            <th>학번</th>
            <th>이름</th>
            <th>전공</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td>{{post.studentID}}</td>
                <td>{{post.name}}</td>
                <td>{{post.major}}</td>
            </tr>
        {% endfor %}
    </table>
    <hr>
    <form method="POST">
      {% csrf_token %}
      <div>
        <label for="studentID">학번</label>
        <input type="text" name="studentID" id="studentID">
      </div>
      <div>
        <label for="name">이름</label>
        <input type="text" name="name" id="name">
      </div>
      <div>
        <label for="major">전공</label>
        <input type="text" name="major" id="major">
      </div>
      <br>
      <input type="submit" value="제출">
    </form>
  </body>
</html>